<%- include("includes/head.ejs") %>
<body>
    <div class="container">
        <h1>The total number of Users in DataBase is <%= count %></h1>
            <form method="get" action="http://localhost:8080/posts">
                <button type="submit">Back to postKar page</button>
            </form>
        </div>
    </div>
</body>
</html>